* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgba(220, 206, 206, 0.62);
}

.parent {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 100px auto;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    animation-name: parent;
}

.child {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    transform-style: preserve-3d;
}

.child:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    transform: translateZ(-1px);
}

.front {
    background: red;
    animation-name: front;
}

.back {
    background: blue;
    animation-name: back;
}

.animate {
    animation-direction: normal;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes parent {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes front {
    0% {
        transform: rotateZ(0deg) translateZ(40px);
    }
    100% {
        transform: rotateZ(360deg) translateZ(40px);
    }
}

@keyframes back {
    0%{
        transform: rotateZ(360deg) translateZ(-40px);
    }
    100%{
        transform: rotateZ(0deg) translateZ(-40px);
    }
}